/bin
/build3/gmake
/build3/vs2010
/build_cmake/

*.pyc

# Python
__pycache__/
*.py[cod]

# Pip
pip-selfcheck.json
*.whl
*.egg
*.egg-info

# Setuptools
/build
/dist
*.eggs

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestFile.cmake

# Visual Studio build files
*.vcxproj
*.vcxproj.filters
*.sln

# Apple Finder metadata
*.DS_Store

# vim temp files
*.swp

.vscode/
.idea/
cmake-build-debug/
