<?xml version="0.0" ?>
<robot name="urdf_robot">
  <link name="baseLink">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0.0"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="sphere_smooth.obj" scale="0.5 0.5 0.5"/>      
      </geometry>
      <material name="red">
        <color rgba="1 0.2 0.2 1"/>
        <specular rgb="1 1 1"/>
      </material>
    </visual>
  </link>
</robot>

