<?xml version="1.0"?>
<robot name="torus">
  <deformable name="torus">
    <inertial>
      <mass value="3" />
      <inertia ixx="0.0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <collision_margin value="0.006"/>
    <repulsion_stiffness value="800.0"/>
    <friction value= "0.5"/>
    <neohookean mu= "180" lambda= "600" damping= "0.01" />
    <visual filename="torus.vtk"/>
  </deformable>
</robot>
